<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Contact Groups</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li id="home-nav" class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li id="teachers-nav" class="nav-item">
        <a class="nav-link" href="/teachers">Teachers</a>
      </li>
      <li id="subjects-nav" class="nav-item">
        <a class="nav-link" href="/subjects">Subjects</a>
      </li>
      <li id="students-nav" class="nav-item">
        <a class="nav-link" href="/students">Students</a>
      </li>
    </ul>
  </div>
</nav>
