<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <h2>Add New Subject</h2>
      <% if(err) { %>
        <div class="card text-white bg-danger">
          <div class="card-body">
            <%= err.message %>
          </div>
        </div>
        <br>
      <% } %>
      <form action="/subjects/add" method="post">
        <table class="table">
          <tr>
            <td>Subject Name</td>
            <td>:</td>
            <td><input type="text" name="subject_name" value="<%= repopulate ? repopulate.subject_name : '';%>" required></td>
          </tr>
          <tr>
            <td colspan="3"><input class="btn btn-primary" type="submit" name="submit" value="Submit"></td>
          </tr>
        </table>
      </form>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
