<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <% include ./partials/header %>
    <div class="container">
      <div class="jumbotron">
        <h1>School</h1>
        <p class="lead">Please select our menu in the navigation bar</p>
      </div>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
